<h1 class="c-title__large u-mb5"><%= "Category: "+ @category.name %></h1>
<%= link_to "Create New Article >>", new_article_path %>
<% if logged_in? and current_user.admin? %>
  <div class="u-mt10">
    <%= link_to "Edit Category Name >>", edit_category_path(@category) %>
  </div>
<% end %>
<%= render 'articles/article',obj: @category_articles %>
<div>
  <%= will_paginate @category_articles %>
</div>